* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  transition: all 0.3s linear;
}

.App {
  position: relative;
}

section {
  margin-top: 3em;
  margin-bottom: 6em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  max-width: var(--max-width);
}

h1,
h2,
h3,
h4,
h5,
ul,
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}
