@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --font-family: "Poppins", sans-serif;

  --max-width: 1400px;
  --padding-tablet: 0 2em;
}

.light-theme {
  --color-bg: #fff;
  --color-text: #171231;
  --color-subTitle: #4e4b62;

  --primary-color: #3257d8;

  --border-color: #171231;
}

.dark-theme {
  --color-bg: #1a1525;
  --color-text: #fff;
  --color-subTitle: #d0cfd3;

  --primary-color: #4567e2;
  --border-color: transparent;
}
